<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="1">
        <test name="smoke">
            <classes>
                <class name="Tests.DislikePost"></class>
                <class name="Tests.FollowUser"></class>
                <class name="Tests.LikePost"></class>
                <class name="Tests.UnfollowUser"></class>
                <class name="Tests.UserLogin"></class>
                <class name="Tests.UserLogout"></class>
            </classes>
        </test>
</suite>